/*---------------------------------
	Colors Variables
-----------------------------------*/

$white: #ffffff;
$white-100: #e0e0e0;
$blue: #00599a;
$gray: #62585f;

$gray-200: #333333;
$gray-100: #222222;
$blue-100: #86b4f1;
