/*---------------------------------
	Colors Variables
-----------------------------------*/

$white: #ffffff;
$gray: #62585f;
$red: #ef4634;

$gray-200: #333333;
$gray-100: #222222;

$red-100: #e73d2d;
$red-200: #950904;
