@import "colors";
@import "normalize";

body {
	font-family: Open-sans, sans-serif;
}

button {
	background-color: transparent;
	outline: 0;
	border: 0;
	padding: 0;
}

.tab-container {
	margin: 50px auto;
	display: grid;
	grid-template-columns: 25% auto;
	grid-gap: 30px;
	background-color: transparent;
	text-align: center;
}

.tabs-mobile {
	display: none;
}

.tabs h2 {
	color: $gray-100;
	font-weight: 600;
	text-transform: uppercase;
}

.tab {
	width: 100%;
	position: relative;
	display: block;
	margin: 8px auto;
	padding: 7px;
	font-size: 14px;
}

.tab.is-selected {
	filter: none;
	border-left: 3px solid $blue;
	color: $blue;
	background-color: $white-100;
}

.tab::after {
	position: absolute;
	content: "\f058";
	font: normal normal normal 14px/1 FontAwesome;
	right: -8px;
	top: 4px;
	color: $gray-100;
	font-size: 0;
	transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

.tab.is-selected::after {
	font-size: 25px;
	transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

/* Tab-content */
.tab-contents {
	display: block;
	width: 100%;
	position: relative;
	margin: 70px 0 0 20px !important;
}

.tab-content {
	display: grid;
	grid-template-columns: 60% 38%;
	grid-gap: 10px;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

.tab-content.is-selected {
	opacity: 1;
	position: relative;
	z-index: 5;
	height: 100%;
	transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
}

.tab-content img {
	width: 100%;
}

.tab-content__left {
	padding: 0 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
}

.tab-content__right {
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.tab-content.is-selected:nth-child(odd) .tab-content__right {
	justify-content: flex-end;
}

.tab-content.is-selected:nth-child(even) .tab-content__right {
	justify-content: flex-start;
}

.tab-content__left a,
.tab-mobile a {
	background-color: $blue;
	padding: 9px 40px;
	color: $white;
	margin: 30px auto;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	font-size: 10px;
}

.tab-content__left a:hover,
.tab-mobile a:hover {
	color: $white;
	box-shadow: 3px 5px $blue-100;
}

@media (max-width: 850px) {
	.tab-contents {
		margin: 10px 0 0 0px !important;
	}
	.tab-content {
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}
	.tab-content .tab-content__right {
		order: 1;
		margin-bottom: 20px;
	}
	.tab-content .tab-content__left {
		order: 2;
	}
}

@media (max-width: 500px) {
	.tab-container {
		display: none;
	}

	.tabs-mobile  {
		display: block;
		background-color: transparent;
		overflow: hidden;
		margin: 50px auto;
	}

	.tab-mobile  {
		width: 100%;
		text-align: center;
		overflow: hidden;
	}

	.tab-mobile input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	.tab-label-mobile {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		padding: 1em;
		background: $white-100;
		color: $blue;
		font-weight: 600;
		cursor: pointer;
	}

	.tab-label-mobile:hover {
		background: $white;
		color: $blue;
	}

	.tab-label-mobile::after {
		content: "\276F";
		width: 1em;
		height: 1em;
		text-align: center;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
	}

	.tab-content-mobile {
		max-height: 0;
		padding: 0 1em;
		background: transparent;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
	}

	.tab-img-mobile {
		margin: 10px auto;
	}

	.tab-mobile input:checked + .tab-label-mobile {
		background: $white-100;
		color: $blue;
	}

	.tab-mobile input:checked + .tab-label-mobile::after {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.tab-mobile input:checked ~ .tab-content-mobile {
		max-height: 100vh;
		padding: 1em;
	}

}
